.selector-for-some-widget {
    box-sizing: content-box;
}

.jumbotron {
    height: 600px;
    background-image: url(assets/jumbo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jumbo-content {
    background-color: rgba(128, 128, 128, 0.808);
}

.logo {
    padding: 0;
    margin: 0;
    font-family: "Amatic SC", cursive;
    font-size: 50px;
}

.contact-us-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(128, 128, 128, 0.507);
}

.contact-us-form-container {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 99;
    width: 60%;
    margin: 0 auto;
}

.signup-form-container {
    background-color: rgba(128, 128, 128, 0.301);
    overflow: hidden;
    z-index: 99;
}

.signup-img {
    width: 180px;
    height: 280px;
    transform: rotate(-20deg);
    position: fixed;
    bottom: 135px;
    z-index: -1;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 20%;
}

.footer-right {
    margin: auto 0;
}

@media (min-width: 992px) {
    .signup-img {
        left: 300px;
        bottom: 144px;
    }
}
